*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(design.jpg);
    background-size: cover;
    }
    
.logo{
    width: 100px;
    height: 150px;
    margin: 20px;
    cursor:pointer;
    transform: rotate(90deg);
    user-select: none;

}
.navbar{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    
}
.navbar ul li::after{
    content:'';
    height: 4px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    

    }
    .navbar ul li:hover::after{
      width: 100%;
        
    }
    .content{
        width:100%;
        position: absolute;
        top: 30%;
        transform: translateY(-50);
        text-align: center;
        color: aliceblue;
        user-select: none;


    }
    .content h1{
        font-size: 50px;
        margin-top: 40px;

    }
    .content p{
        margin: 20px auto;
        font-weight: 100;
        line-height: 25px;

    }
    button{
        width: 200px;
        padding: 15px 0;
        text-align: center;
        margin: 20px 10px;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid #009688;
        cursor: pointer;
        position: relative;
        transition: all color 3s linear 2s ;
        


    } 
    button:hover{
        background-color: rgb(18, 199, 169);
        transition: all 2s;
        
    }
    
       .button1::before{
        content:"";
        position: absolute;
        left: 0;
        top: 0;
        width: 80%;
        height: 100%;
        background: #009688;
        z-index: -1;
    
        
       }
       .button2::before{
        content:"";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #009688;
        z-index: -1;
         }
         figcaption{
            position: absolute;
            color: aliceblue;
            margin-top: 130px;
            margin-right:130px ;
            float: right;
            background-color: burlywood;
            font-family: 'Times New Roman', Times, serif;

         }
    




    


